<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <h1>{{title}}</h1>
  </header>

  <main>
    {{contentFor "content"}} <!-- Inyecta el contenido de "content" aquí -->
  </main>

  

  <footer>
    <p>© 2025 Mi Empresa</p>
  </footer>
</body>
</html>
